# Prod
API_BASE_URL=https://your-api-host.com/api
API_TOKEN=your_api_token_here

# Dev (uncomment for local development)
# API_BASE_URL=http://127.0.0.1:8000/api
# API_TOKEN=your_dev_api_token_here

NEXT_PUBLIC_HOST=http://localhost:3000
